<body id="game-lobby-body">
    {{> nav}}
    <div class="container">
        <div class="row">
            <label class="mt-5">Game ID: {{gameid}}</label>
        </div>
        <div class="row team-container">
            <div class="mx-auto mt-2">
                <h2>{{teamName}}</h2>
            </div>
            <div class="col-12 players"></div>
        </div>
        <div id="startGame" class="row d-none" data-leader="{{leaderId}}">
            <div class="mx-auto mt-5">
                <button type="button" class="btn btn-secondary btn-lg btn-block">Start Game #{{gameid}}</button>
            </div>
        </div>
    </div>
</body>