<body id="game-page-body">
    {{> nav}}
    <div class="container d-none">
        <div class="row mt-5">
            <div class="col-lg-9 justify-content-center" align="center">
                <canvas id="game-canvas" class="mx-auto" width="800" height="600" style="width: 800px; height: 600px;">

                </canvas>
                <div id="ping">Ping: <span class="green">1ms</span></div>
                <div id="gameOverBanner" class="d-none">
                    <div class="text-center mb-3 game-over">Game Over</div>
                    <div class="row">
                        <div class="col-5">
                            <img src="/img/ally-destroyer.png" alt="">
                        </div>
                        <div class="col-7">
                            <div class="text-center team-name">Group 1</div>
                            <div class="row">
                                <span class="col-12 text-left">Total Score:</span>
                                <span class="col-12 text-center score">9999</span>
                            </div>
                            <div class="text-center mt-5 thanks">Thanks for Playing!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="gamePanel" class="col-lg-3">
                <h2 class="text-center">{{gameObj.teamName}}</h2>
                <div class="row">
                    <span class="col-4">Score:</span>
                    <span id="teamScore" class="col-8 text-right">0</span>
                </div>
                {{#each gameObj.players}}
                <div class="player" data-id="{{this.id}}"
                    style="background-color: {{this.color}}4a;">
                    <div>{{this.name}}</div>
                    <div class="whole-life">
                        <span id="life" class="current-life" style="width:70%; background-color: green;">&nbsp;</span>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div id="canvasResource" class="d-none">
            <img id="asteroidSprite" src="/img/asteroid-sprite.png" />
            <img id="allyShip" src="/img/ally-ship.png" />
            <img id="alienShip" src="/img/alien-ship.png" />
            <img id="extraShip" src="/img/extra-ship.png" />
        </div>
    </div>
    <script src="/js/clientgame/clientGameUtil.js"></script>
    <script src="/js/clientgame/gameObjProperty.js"></script>
    <script src="/js/clientgame/uiObject/CanvasObject.js"></script>
    <script src="/js/clientgame/uiObject/LivingObject.js"></script>
    <script src="/js/clientgame/uiObject/Ammo.js"></script>
    <script src="/js/clientgame/uiObject/Spacecraft.js"></script>
    <script src="/js/clientgame/uiObject/Asteroid.js"></script>
    <script src="/js/clientgame/controller/ClientGameController.js"></script>
    <script src="/js/clientgame/controller/SpacecraftController.js"></script>
    <script src="/js/clientgame/controller/AsteroidController.js"></script>
    <script src="/js/clientgame/CanvasPainter.js"></script>
    <script src="/js/clientgame/clientGamePage.js" defer></script>
</body>