div.spacer {
    height: 400px;
}

#home-body, #game-lobby-body{
    background-image: url("../img/nasa-Q1p7bh3SHj8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#game-lobby-body {
    color: #fff;
}

.team-container {
    min-height: 200px;
    display: flex;
}

.team-container .players .tile{
    height: 100px;
    width: 150px;
    background-color: #41a7e299;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    align-items: center;
}

.team-container .players .tile.my-player{
    background-color: #88e7cf99;
    border: 2px solid white;
}