
div.spacer {
    height: 400px;
}

#home-body, #game-lobby-body, #game-page-body{
    background-image: url("../img/nasa-Q1p7bh3SHj8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

#game-lobby-body {
    color: #fff;
}

.team-container {
    min-height: 200px;
    display: flex;
}

.team-container .players .tile{
    height: 100px;
    width: 150px;
    background-color: #41a7e299;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    align-items: center;
}

.team-container .players .tile.my-player{
    border: 2px solid white;
}

.my-player{
    border: 1px solid white;
}

#game-canvas {
    background-color: #ffffff;
}

#gamePanel{
    color: white;
}

#gamePanel .player{
    margin-bottom: 0.3rem;
}

#ping {
    font-size: 0.7rem;
    text-align: left;
}

#ping .green{
    color: rgb(98, 224, 98);
}

#ping .amber{
    color:rgb(238, 238, 98);
}

#ping .red{
    color: rgb(236, 91, 91);
}

.whole-life{
    margin-bottom: 0.2rem;
}

.current-life{
    display: block;
    background-color: rgb(7, 199, 7);
    height: 0.5rem;
}